<div id="header">
    <div id="navigation">
        <ul>
            <li class="selected">
                <a href="/">
                    <img src="images/logo.png" alt="LOGO" height="100" width="100">
                </a>
            </li>
            <li>
                <a href="/travel">Travel</a>
            </li>
            <li>
                <a href="/news">News</a>
            </li>
            <li>
                <a href="/reservations">Reservations</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li>
                <a href="checkout">Checkout</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
</div>